<div class="grid" >
        <div class="col mt-2 " >

        
        <p-menubar [model]="items" st >
        
                <button pButton label="Faculty"
                        class="p-button-sm mt-2"
                        icon="pi pi-user"
                        style="margin-right: 5px;"
                        routerLink="/parameters/faculties"
                        *ngIf="usuario.data?.rol==2"
                        >
                </button>
                <button pButton label="Department"
                        class="p-button-sm mt-2"
                        icon="pi pi-user"
                        style="margin-right: 5px;"
                        routerLink="/parameters/departaments"
                        *ngIf="usuario.data?.rol==2"
                        >
                </button>
                <button pButton label="T-Bonding"
                        class="p-button-sm mt-2"
                        icon="pi pi-user"
                        style="margin-right: 5px;"
                        routerLink="/parameters/bonding"
                        *ngIf="usuario.data?.rol==2"
                        >
                </button>
                <button pButton label="T-Request"
                        class="p-button-sm mt-2"
                        icon="pi pi-user"
                        style="margin-right: 5px;"
                        routerLink="/parameters/types-requests"
                        *ngIf="usuario.data?.rol==2"
                        >
                </button>
                <button pButton label="T-Committee"
                        class="p-button-sm mt-2"
                        icon="pi pi-user"
                        style="margin-right: 5px;"
                        routerLink="/parameters/committees"
                        *ngIf="usuario.data?.rol==2 || usuario.data?.rol==3"
                        >
                </button>
                <button pButton label="I-Area"
                        class="p-button-sm mt-2"
                        icon="pi pi-user"
                        style="margin-right: 5px;"
                        routerLink="/parameters/investigation"
                        *ngIf="usuario.data?.rol==2"
                        >
                </button>
                <button pButton label="Modality"
                        class="p-button-sm mt-2"
                        icon="pi pi-user"
                        style="margin-right: 5px;"
                        routerLink="/parameters/modalities"
                        *ngIf="usuario.data?.rol==2"
                        >
                </button>
                <button pButton label="Status"
                        class="p-button-sm mt-2"
                        icon="pi pi-user"
                        style="margin-right: 5px;"
                        routerLink="/parameters/status"
                        *ngIf="usuario.data?.rol==2"
                        >
                </button>
                <button pButton label="Request"
                        class="p-button-sm mt-2"
                        icon="pi pi-user"
                        style="margin-right: 5px;"
                        routerLink="/parameters/requests"
                        *ngIf="usuario.data?.rol==2 || usuario.data?.rol==3"
                        >
                </button>
                <button pButton label="Proponent"
                        class="p-button-sm mt-2"
                        icon="pi pi-user"
                        style="margin-right: 5px;"
                        routerLink="/parameters/proponents"
                        *ngIf="usuario.data?.rol==2 || usuario.data?.rol==3 "
                        >
                </button>
                <button pButton label="Juries"
                        class="p-button-sm mt-2"
                        icon="pi pi-user"
                        style="margin-right: 5px;"
                        routerLink="/parameters/juries"
                        *ngIf="usuario.data?.rol==2  || usuario.data?.rol==3"  >
                        >
                </button>
                <button pButton label="Users"
                        class="p-button-sm mt-2"
                        icon="pi pi-user"
                        style="margin-right: 5px;"
                        routerLink="/usuarios/user-read"
                        *ngIf="usuario.data?.rol==2">
                </button>
                <button pButton label="Logout"
                        class="p-button-sm mt-2"
                        icon="pi pi-power-off"
                        (click)="logout()">
                </button>
        </p-menubar>
</div>
</div>

<div class="p-mt-22" >
        <p-menubar class="mt-2">
                <button pButton type="button" 
                        label="Change pass" 
                        icon="pi pi-check" 
                        class="p-button-sm mr-2"
                        [routerLink]="['/usuarios/change-pass',usuario.data?.id_usuario]"
                        >
                </button>
                <p-tag value="Welcome: {{usuario.data?.nombre}}  " icon="pi pi-user">
                </p-tag>
        </p-menubar>
</div>
<router-outlet></router-outlet>
<!-- <div class="text-layout" >
        <pre> {{ usuario | json }} </pre>

</div> -->
   


<!--     
<hr>

<p>
    pagina de autorizados
</p>

<h4>User info</h4>

<pre> {{usuario | json}} </pre>
 -->
<!-- <button (click)="logout()" >Logout</button>
 -->
    <!-- <app-change-pass></app-change-pass> -->