<p-menubar [model]="items">
    <button pButton label="Users"
            class="p-button-sm"
            icon="pi pi-user"
            style="margin-right: 5px;"
            routerLink="/usuarios/user-read">
    </button>
    <button pButton label="Logout"
            class="p-button-sm"
            icon="pi pi-power-off"
            (click)="logout()">
    </button>
</p-menubar>
<router-outlet></router-outlet>
   
<pre> {{ usuario | json }} </pre>
<!--     
<hr>

<p>
    pagina de autorizados
</p>

<h4>User info</h4>

<pre> {{usuario | json}} </pre>
 -->
<!-- <button (click)="logout()" >Logout</button>
 -->
    <!-- <app-change-pass></app-change-pass> -->